.not-found-title-container {
    .not-found-title {
        h2 {
            font-size: 24px;
            font-weight: 700;
            line-height: 29.05px;
            color: var(--black-color);
        }
    }
}